<router-outlet></router-outlet>
<div id="div_chat">
  <h2>User</h2>
  <ul id="ulUser"></ul>
  <h3 id="myId"></h3>
  <video id="localStream" width="300" controls></video>
  <br />
  <video id="remoteStream" width="300" controls></video>
  <br />
  <!-- <input type="text" id="remoteId" placeholder="Remote ID" />
  <button id="btnCall">Call</button> -->
  <br />
</div>
<div id="div_dki">
  <input type="text" id="txtUsername" placeholder="user" />
  <button id="btnSignUp">SignUp</button>
</div>
<button id="btnClose">Tat</button>